In [10]:
import pandas as pd

In [11]:
customers_file = pd.read_csv("input_data/csv/customers_file1.csv")
vehicles_file = pd.read_csv("input_data/csv/vehicles_file1.csv")

In [12]:
customers_file

,id,name,address,phone,date
0,ID5410,Melissa T Miller,2837 Fidler Drive,210-624-7306,31/01/2020
1,ID9857,Daniel I Walker,3853 Hilltop Street,413-655-7397,25/04/2020
2,ID6651,Pauline J Buxton,1927 Pinnickinick Street,360-727-9275,16/03/2020

In [13]:
vehicles_file

      id       make         vin_number  model_year owner_id
0  V3015  Chevrolet  1G1ZD5EB6AF0053EX        2010   ID9857
1  V2014      Honda  JH2SC3327WM200123        1998   ID9857
2  V1475       Ford  1FTSW3XG5FKB11488        2015   ID5410
3   V786     Nissan  JN6JD02S0E0011849        2014   ID6651

In [14]:
output = {
        "file_name": "",
        "transaction":{
            "date":"",
            "customer":{
                "id":"",
                "name":"",
                "address":"",
                "phone":""
            },
            "vehicles":[]
        }
    }

output = []

In [21]:
for index,customer in customers_file.iterrows():
    vehicles = []
    print(customer)
    for vehicle in vehicles_file:
        if vehicle['owner_id'] == customer['id']:
            vehicles.append({
            "id":vehicle['id'],
            "make":vehicle['make'],
            "vin_number":vehicle['vin_number'],
            "model_year": vehicle['model_year']
         },)

    output.append({
        "customer_file_name": customers_file,
        "vehicle_file_name": vehicles_file,
        "transaction":{
            "date":customer['date'],
            "customer":{
                "id":customer['id'],
                "name":customer['name'],
                "address":customer['address'],
                "phone":customer['phone']
            },
            "vehicles":vehicles
        }
    })

id
name
address
phone
date

In [ ]:
output