In [1]:
import pandas as pd

In [2]:
customers_file = pd.read_csv("input_data/csv/customers_file1.csv")
vehicles_file = pd.read_csv("input_data/csv/vehicles_file1.csv")

In [7]:
customers_file

,id,name,address,phone,date
0,ID5410,Melissa T Miller,2837 Fidler Drive,210-624-7306,31/01/2020
1,ID9857,Daniel I Walker,3853 Hilltop Street,413-655-7397,25/04/2020
2,ID6651,Pauline J Buxton,1927 Pinnickinick Street,360-727-9275,16/03/2020

In [ ]:
vehicles_file

      id       make         vin_number  model_year owner_id
0  V3015  Chevrolet  1G1ZD5EB6AF0053EX        2010   ID9857
1  V2014      Honda  JH2SC3327WM200123        1998   ID9857
2  V1475       Ford  1FTSW3XG5FKB11488        2015   ID5410
3   V786     Nissan  JN6JD02S0E0011849        2014   ID6651

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open('input_data/xml/file1.xml ', 'r') as f:
    data = f.read()

In [ ]:
data

'<?xml version="1.0"?>\n<Insurance>\n   <Transaction>\n      <Date>2020-10-15</Date>\n      <Customer id="ID1011601">\n         <Name>Esmأ© Babin</Name>\n         <Address>3344 Joy Lane</Address>\n         <Phone>818-537-1995</Phone>\n         <Units>\n            <Auto>\n               <Vehicle id="V1000">\n                  <Make>GMC</Make>\n                  <VinNumber>1GDJC33648F200204</VinNumber>\n                  <ModelYear>2008</ModelYear>\n               </Vehicle>\n               <Vehicle id="V1001">\n                  <Make>Chevrolet</Make>\n                  <VinNumber>1G1Z464865F214437</VinNumber>\n                  <ModelYear>2005</ModelYear>\n               </Vehicle>\n            </Auto>\n         </Units>\n      </Customer>\n   </Transaction>\n</Insurance>\n'

In [ ]:
import xmltodict, json

In [ ]:
obj = xmltodict.parse(data)

In [18]:
print(json.dumps(obj["Insurance"]))

{"Transaction": {"Date": "2020-10-15", "Customer": {"@id": "ID1011601", "Name": "Esm\u0623\u00a9 Babin", "Address": "3344 Joy Lane", "Phone": "818-537-1995", "Units": {"Auto": {"Vehicle": [{"@id": "V1000", "Make": "GMC", "VinNumber": "1GDJC33648F200204", "ModelYear": "2008"}, {"@id": "V1001", "Make": "Chevrolet", "VinNumber": "1G1Z464865F214437", "ModelYear": "2005"}]}}}}}